.hobbies{
  border: 1px solid #f1efef;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11);
  padding: 30px;
  margin: 10px;
  text-align: center;
  max-width: 1000px;
  display: inline-block;

}

.hobbies.hobbies-image{
  width: 100px;
  height: 50px;
  border-radius: 2%;
  margin-bottom: 5px;
}
